{% extends 'base.html.twig' %}

{% block title %}modification organizations!{% endblock %}

{% block body %}


<div class="example-wrapper m-auto" style="width : 80%">
    <form method="POST" action="/update/{{id}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{array.name}}">
        </div>
        <div class="form-group">
            <label for="descri">Description</label>
            <input type="text" class="form-control" id="descri" name="descri" value="{{array.description}}">
        </div>
        <div class="form-group">
            {% for user in array.users %}
                <label for="usrname{{ loop.index }}">User Name {{ loop.index }}</label>
                <div>
                    <input type="text" class="form-control" id="usrname{{ loop.index }}" name="usrname{{ loop.index }}" value="{{user.name}}">
                    <a type="button" class="btn btn-danger" href="/deleteuser/{{id}}/{{loop.index}}" >Delete</a>
                </div>
                
            {% endfor %}
        </div>
            <div class="form-group my-2">
                <input type="submit" class="btn btn-primary center" value="Submit">
                <a type="button" class="btn btn-danger" href="/" >Return back</a>
            </div>
    </form>
</div>
{% endblock %}